* {
  padding: 0;
  margin: 0;
}

.marker-container {
  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}

.customer-density-text {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
}

.customer-density-text span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid blue;
  background-color: #c2bfed;
}

/* map styling */
.leaflet-container {
  border-radius: 1rem;
  height: 100%;
}

/* tab buttons */
.tabs-container {
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
}
.tab-button {
  border: 1px solid #0f172a;
  color: #0f172a;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 1rem;
  display: block;
}

.active-tab {
  color: #fff;
  border: 1px solid #0f172a;
  background-color: #0f172a;
}

@media (min-width: 720px) {
  .tab-button {
    display: inline;
  }
}

/* sales funnel */
.heading-container {
  width: 40%;
  margin: 5rem auto 1rem auto;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon {
  width: 30px;
  height: 30px;
  color: #6885e7;
  background-color: #dee6ff;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.sales-funnel-container {
  min-width: 720px;
  width: 40%;
  margin: auto;
  height: 30rem;
  background: linear-gradient(
    to right,
    #93c5fd47,
    #93c5fd36,
    #93c5fd29,
    #93c5fd1c,
    #93c5fd0f
  );
}

.sales-info {
  display: flex;
  gap: 0.3rem;
}

.column {
  width: 10rem;
}
.column-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: #fff;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid #2563eb;
  border-radius: 50%;
}

.line {
  width: 100%;
  border: 1.3px dashed lightgray;
}

.column-name {
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.count {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
.trend-info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 2rem;
}
.up-trend-text {
  color: #26a055;
  font-weight: bold;
}
.up-trend-icon {
  color: #26a055;
  background-color: #c2e8d1;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
}
.down-trend-info span {
  color: #26a055;
  font-weight: bold;
}
.down-trend-icon {
  color: #e03d3f;
  background-color: #edd2df;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
}
.down-trend-text {
  color: #e03d3f;
  font-weight: bold;
}

/* funnel */
.funnel {
  width: 30rem;
  margin: auto;
  height: 720px;
  margin-top: -15rem;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  align-items: center;
  gap: 0.3rem;
}

.funnel-item-1 {
  width: 50%;
  height: 70%;
  background-color: #3561fe;
  clip-path: polygon(
    10% 59%,
    3% 38%,
    0% 0%,
    100% 0%,
    97% 38%,
    90% 59%,
    79% 67%,
    77% 83%,
    80% 100%,
    20% 100%,
    23% 83%,
    21% 67%
  );
}

.funnel-item-2 {
  width: 50%;
  height: 70%;
  background-color: #456efc;
  clip-path: polygon(
    28% 42%,
    27% 24%,
    20% 0%,
    80% 0%,
    73% 24%,
    72% 42%,
    64% 67%,
    60% 85%,
    67% 100%,
    33% 100%,
    40% 85%,
    36% 67%
  );
}

.funnel-item-3 {
  width: 50%;
  height: 70%;
  background-color: #5b7ffe;
  clip-path: polygon(
    42% 57%,
    35% 20%,
    33% 0%,
    67% 0%,
    65% 20%,
    58% 57%,
    56% 73%,
    56% 86%,
    59% 100%,
    41% 100%,
    44% 86%,
    44% 73%
  );
}

.funnel-item-4 {
  width: 50%;
  height: 70%;
  background-color: #94acff;
  clip-path: polygon(
    47% 60%,
    41% 0%,
    59% 0%,
    53% 60%,
    53% 87%,
    55% 100%,
    45% 100%,
    47% 87%
  );
}

.funnel-item-5 {
  width: 50%;
  height: 70%;
  background-color: #b7c7ff;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}
